<div class="card d-table" style="height:100%;width:100%">
    <div class="card-body d-table-cell align-middle text-center">
        <p><h3><b><%= text1 %></b></h3></p><br>    
        <p>
            <h4><b><%= text2 %></b></h4>
            <h4><b><%= text3 %></b></h4>
        </p>
        <p>
            <h4><b><%= text4 %></b></h4>
        </p>
        <p>
            <div class="row">
                <div class="col-6">
                    <h4><b><%= text5 %></b></h4>
                </div>
                <div class="col-6">
                    <h4><b><%= text6 %></b></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h4><b><%= text7 %></b></h4>
                </div>
                <div class="col-6">
                    <h4><b><%= text8 %></b></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h4><b><%= text9 %></b></h4>
                </div>
                <div class="col-6">
                    <h4><b><%= text10 %></b></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h4><b><%= text11 %></b></h4>
                </div>
                <div class="col-6">
                    <h4><b><%= text12 %></b></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h4><b><%= text13 %></b></h4>
                </div>
                <div class="col-6">
                    <h4><b><%= text14 %></b></h4>
                </div>
            </div>
        </p>
    </div>    
</div>
<div class="row mt-3">
    <div class="col-6 text-left">
        <button id="<%= IDButtonLeft %>" class="btn btn-outline-primary" type="button"><%= txtButtonLeft %></button>
    </div>
    <div class="col-6 text-right">
        <button id="<%= IDButtonRight %>" class="btn btn-outline-primary" type="button"><%= txtButtonRight %></button>
    </div>
</div>