<div class="card d-table" style="height:100%;width:100%">
    <div class="card-body d-table-cell align-middle text-center">
        <p>
            <div class="row">
                <div class="col-10 text-left">
                    <h3><b><%= text1 %></b></h3>
                    <h5><i><%= text2 %></i></h5>
                </div>
                <div class="col-2 text-right">
                    <h4><input type="text" id="<%= IDTextCountTimer %>" name="txtcount" style="width:100px;text-align:center" value="0" readonly="readonly" /></h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton1 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton1 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText1 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus1 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus1 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton2 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton2 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText2 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus2 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus2 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton3 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton3 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText3 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus3 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus3 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton4 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton4 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText4 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus4 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus4 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton5 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton5 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText5 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus5 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus5 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton6 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton6 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText6 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus6 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus6 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton7 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton7 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText7 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus7 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus7 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton8 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton8 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText8 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus8 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus8 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton9 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton9 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText9 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus9 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus9 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" id="<%= IDButton10 %>" class="btn btn-secondary btn-lg btn-block"><%= txtButton10 %></button>
                                </div>
                                <div class="col-6">
                                    <h4 class="text-left"><input type="text" id="<%= IDText10 %>" style="width:50px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus10 %>" class="btn btn-secondary" style="width:30px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus10 %>" class="btn btn-secondary" style="width:30px">+</button></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12"><h4 class="text-left"><b><u><%= text3 %></u></b></h4></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-left"><input type="text" id="<%= IDText11 %>" style="width:100px;text-align:center" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButtonMinus11 %>" class="btn btn-secondary" style="width:50px">-</button>&nbsp;<button type="button" id="<%= IDButtonPlus11 %>" class="btn btn-secondary" style="width:50px">+</button></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea class="form-control rounded-0" id="<%= IDTextArea %>" rows="8"></textarea>
                        </div>
                    </div>
                </div>
            </div>                     
        </p>
    </div>    
</div>
<div class="row mt-3">
    <div class="col-6 text-left">
        <button id="<%= IDButtonLeft %>" class="btn btn-outline-primary" type="button"><%= txtButtonLeft %></button>
    </div>
    <div class="col-6 text-right">
        <button id="<%= IDButtonRight %>" class="btn btn-outline-primary" type="button"><%= txtButtonRight %></button>
    </div>
</div>
        