<div class="card d-table" style="height:100%;width:100%">
    <div class="card-body d-table-cell align-middle text-center">
        <p><h3><b><%= text1 %></h3></b></p><br>
        <p><h5 class="text-left"><%= text2 %></h5></p>
        <p><h5 class="text-left text-primary"><%= text3 %></h5></p>
        <p><h5 class="text-left text-primary"><%= text4 %></h5></p>
        <p><h5 class="text-left text-primary"><%= text5 %></h5></p>
        <p><h5 class="text-left text-primary"><%= text6 %></h5></p>
        <p><h6 class="text-left"><%= text7 %></h6></p>
        <p><h6 class="text-left"><%= text8 %></h6></p><br>
        <p>
            <h5><input type="text" id="<%= IDText1 %>" style="width:50px;text-align:right" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButton1 %>" class="btn btn-secondary btn-lg"><%= txtButton1 %></button>&nbsp;<button type="button" id="<%= IDButton2 %>" class="btn btn-secondary"><%= txtButton2 %></button></h5>
        </p><br>
        <p>
            <h5><%= text9 %>&nbsp;<input type="text" id="<%= IDText2 %>" style="width:50px;text-align:right" value="0" readonly="readonly" />&nbsp;<button type="button" id="<%= IDButton3 %>" class="btn btn-secondary btn-lg"><%= txtButton3 %></button>&nbsp;<button type="button" id="<%= IDButton4 %>" class="btn btn-secondary btn-lg"><%= txtButton4 %></button></h5>                
        </p>
    </div>    
</div>
<div class="row mt-3">
    <div class="col-6 text-left">
        <button id="<%= IDButtonLeft %>" class="btn btn-outline-primary" type="button"><%= txtButtonLeft %></button>
    </div>
    <div class="col-6 text-right">
        <button id="<%= IDButtonRight %>" class="btn btn-outline-primary" type="button"><%= txtButtonRight %></button>
    </div>
</div>