<span id="<%= IDButtonAudio1 %>" onclick="playAudio1()" style="display:none"><i class="fas fa-sm fa-play"></i></span>
<span id="<%= IDButtonAudio2 %>" onclick="playAudio2()" style="display:none"><i class="fas fa-sm fa-play"></i></span>

<audio id="<%= IDAudio1 %>">
    <source src="<%= pathAudio1 %>" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<audio id="<%= IDAudio2 %>">
    <source src="<%= pathAudio2 %>" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<script>    
    function playAudio1() { 
        let audio1 = document.getElementById("<%= IDAudio1 %>"); 
        audio1.play(); 
    }
    
    function playAudio2() {
        let audio2 = document.getElementById("<%= IDAudio2 %>");
        audio2.play(); 
    }
</script>