<div class="card d-table" style="height:100%;width:100%">
    <div class="card-body d-table-cell align-middle text-center">        
        <p><h4 class="text-primary"><b><%= text1 %></b></h4></p>
        <p><h4 class="text-primary"><b><%= text2 %></b></h4></p>
        <p><h3><b><%= text3 %></b></h3></p>
        <p><h3><b><%= text4 %></b></h3></p>
        <p>
            <div class="text-left"><h3><b><%= text5 %></b></h3></div>
            <textarea class="form-control rounded-0" id="<%= IDTextArea %>" rows="6"></textarea>
        </p>
    </div>    
</div>
<div class="row mt-3">
    <div class="col-6 text-left">
        <button id="<%= IDButtonLeft %>" class="btn btn-outline-primary" type="button"><%= txtButtonLeft %></button>
    </div>
    <div class="col-6 text-right">
        <button id="<%= IDButtonRight %>" class="btn btn-outline-primary" type="button"><%= txtButtonRight %></button>
    </div>
</div>