<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <a href="/clinician/report-tests-effectues?idsession=<%= id_session %>"><img src="/images/icons/retour.png" alt="Edit" height="40" width="63"></a>
                </div>
                <div class="col-11">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-bold text-success">Patient: <%= patient_family_name %> <%= patient_name %></h5>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-bold text-success">
                                Session <%= session_created_date.slice(0,2) %>/<%= session_created_date.slice(2,4) %>/<%= session_created_date.slice(4) %>
                            </h5>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-12"><h5 class="font-weight-bold text-primary">Tests: BREF</h5><hr /></div>                                                                        
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <table class="table table-borderless">      
                            <tr>
                                <td><h5 class="font-weight-bold">Total: <%= total %></h5></td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">Similitudes = <%= similitudes %></h5></td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">Évocation lexicale - score = <%= evocation_lexicale_score %></h5></td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">Évocation lexicale - compte de mots = <%= evocation_lexicale_compte_de_mots %></h5></td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">Évocation lexicale - temps = <%= evocation_lexicale_temps %></h5></td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">Séquences motrices = <%= sequences_motrices %></h5></td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">Consignes conflictuelles = <%= consignes_conflictuelles %></h5></td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">GO - NO GO = <%= go_no_go %></h5></td>                                
                            </tr>
                            </table>                            
                        </div>
                        <div class="col-6">
                            <table class="table table-borderless">      
                            <tr>
                                <td><h5 class="font-weight-bold">Commentaires:</h5></td>                                
                            </tr>
                            <tr>
                                <td>
                                    <table class="table table-bordered">
                                    <tr>
                                        <td><h6><%= commentaires %></h6></td>                                
                                    </tr>
                                    </table>
                                </td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">Video: <% if (path_video != "") { %> OUI <% } else { %> NON <% } %></h5></td>                                
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <% if (path_video != "") { %>
                                    <video width="500" controls>
                                        <source src="<%= path_video %>" type="video/webm">                                                
                                    </video>
                                    <% } %>
                                </td>                                
                            </tr>                            
                            </table>                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </main>
</body>

<%- include('../includes/end.ejs') %>