<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <a href="/clinician/report-tests-effectues?idsession=<%= id_session %>"><img src="/images/icons/retour.png" alt="Edit" height="40" width="63"></a>
                </div>
                <div class="col-11">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-bold text-success">Patient: <%= patient_family_name %> <%= patient_name %></h5>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-bold text-success">
                                Session <%= session_created_date.slice(0,2) %>/<%= session_created_date.slice(2,4) %>/<%= session_created_date.slice(4) %>
                            </h5>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-12"><h5 class="font-weight-bold text-primary">Test: Dénomination lexicale</h5><hr /></div>                                                                        
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <table class="table table-borderless">      
                            <tr>
                                <td><h5 class="font-weight-bold">Score 1 = <%= score_1 %> / 64</h5></td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">Score 2 = <%= score_2 %> / 64</h5></td>                                
                            </tr>
                            <tr>
                                <td><h5 class="font-weight-bold">Fichier audio: OUI</h5></td>                                
                            </tr>
                            </table>
                        </div>
                        <div class="col-6">
                            <table class="table table-borderless">      
                            <tr>
                                <td><h5 class="font-weight-bold">Audio:</h5></td>                                
                            </tr>
                            <tr>
                                <td>
                                    <audio controls>
                                        <source src="<%= path_audio %>" type="audio/webm">                                                
                                    </audio>
                                </td>                                
                            </tr>                            
                            </table>                            
                        </div>                                                
                    </div>                    
                </div>
            </div>
        </div>
    </main>
</body>

<%- include('../includes/end.ejs') %>