<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <a href="/clinician/report-tests-effectues?idsession=<%= id_session %>"><img src="/images/icons/retour.png" alt="Edit" height="40" width="63"></a>
                </div>
                <div class="col-11">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-bold text-success">Patient: <%= patient_family_name %> <%= patient_name %></h5>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-bold text-success">
                                Session <%= session_created_date.slice(0,2) %>/<%= session_created_date.slice(2,4) %>/<%= session_created_date.slice(4) %>
                            </h5>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-12"><h5 class="font-weight-bold text-primary">Echelle GDS</h5><hr /></div>                                                                        
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12"><h5>Score = <%= GDS_Score %></h5></div>
                            </div>
                            <div class="row">
                                <div class="col-12"><h5>GDS Commentaires:</h5></div>                                    
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered">
                                    <tr>
                                        <td><%= GDS_commentaires %></td>                                
                                    </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </main>
</body>

<%- include('../includes/end.ejs') %>