<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <a href="/clinician/report-session?id=<%= id_session %>"><img src="/images/icons/retour.png" alt="Edit" height="40" width="63"></a>
                </div>
                <div class="col-11">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-bold text-success">Patient: <%= patient_family_name %> <%= patient_name %></h5>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-bold text-success">
                                Session <%= session_created_date.slice(0,2) %>/<%= session_created_date.slice(2,4) %>/<%= session_created_date.slice(4) %>
                            </h5>
                        </div>                                                
                    </div>
                    <div class="row">
                        <div class="col-12"><h5 class="font-weight-bold text-primary">Question Positive et Négative</h5><hr /></div>                                                                        
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <table class="table table-borderless">
                            <tr>
                                <td class="text-center"><h5 class="font-weight-bold">Positive</h5></td>                                
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <% if (path_video_p != "") { %>
                                    <video width="500" controls>
                                        <source src="<%= path_video_p %>" type="video/webm">                                                
                                    </video>
                                    <% } %>
                                </td>                                
                            </tr>                            
                            </table>                            
                        </div>
                        <div class="col-6">
                            <table class="table table-borderless">
                            <tr>
                                <td class="text-center"><h5 class="font-weight-bold">Negative</h5></td>                                
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <% if (path_video_n != "") { %>
                                    <video width="500" controls>
                                        <source src="<%= path_video_n %>" type="video/webm">                                                
                                    </video>
                                    <% } %>
                                </td>                                
                            </tr>                            
                            </table>                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </main>
</body>

<%- include('../includes/end.ejs') %>